ion-content {
  --padding-top: 0;
  --padding-bottom: 0;
}

.login-content {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #c3d8fd;
}

.login-container {
  width: 100%;
  max-width: 400px;
  padding: 29px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  border-radius: 12px;
  background-color: #fff;
}

.login-title {
  text-align: center;
  margin-bottom: 20px;
  font-weight: bold;
  color: #222;
}

ion-item {
  margin-bottom: 15px;
  --background: #f2f2f2;
  border-radius: 8px;
}

ion-input {
  padding: 10px;
}

.login-btn {
  margin-top: 20px;
  --background: #3880ff;
  --color: #fff;
  border-radius: 8px;
}


.small-row {
  margin-top: 25px;
  text-align: center;
  font-size: 14px;
}

.small-row a {
  color: #3880ff;
  font-weight: 600;
  cursor: pointer;
}